body
{
    margin: 0;
}
html 
{
    width: 100%;
}
.topbar
{
    background-image: linear-gradient(to right, #293b52, #293b52 50%, #f8d16c 50%);
    height: 10vh;
    position: sticky;
    top: 0px;
    cursor: pointer;
}
.topcol
{
    height: 73%;
    width: 1127px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.leftcol
{
    width: 50%;
    height: 100%;
}
.rightcol
{
    width: 50%;
    padding-left: auto;
    justify-content: flex-end;
    height: 95%;
}
.hamburger
{
    display: none;
}
.line
{
    display: none;
}
.imglogo
{
    padding-top: 11px;
    display: flex;
    flex-direction: row;
    height: 47.5px;
}
.navbar
{
    font-weight: lighter !important;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-top: 25px;
}
.link
{
    color: #263146;
    font-weight: lighter !important;
    text-decoration: none;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    background-color: transparent;
}
.colorbox
{
    background-image: linear-gradient(to right, #293b52, #293b52 50%, #f8d16c 50%);
    margin-right: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 100%;
}
.item
{
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 1127px;
}
.bluebox
{
    flex-wrap: wrap;
    font-stretch: extra-condensed;
    width: 50%;
    height: 100%;
}
.redbox
{
    margin: 0;
    width: 50%;
    height: 100%;
}
.bigcontent
{
    width: 350px;
    height: 75px;
    margin-top: 55px;
    padding-top: 6px;
    font-size: 65px;
    font-weight: 600;
    color: #f8d16c;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}
.big01content
{
    width: 270px;
    height: 75px;
    margin-top: 40px;
    padding-top: 6px;
    font-size: 65px;
    font-weight: 600;
    color: #f8d16c;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}
.smallcontent
{
    margin-top: 55px;
    font-size: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
}
.main
{
    width: 100%;
    margin-bottom: 0px;
}
.computer
{
    width: 450px;
    margin-left: 115px;
    margin-top: 35px;
}
.image01
{
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.projects02
{
    border-bottom-color: #f8d16c;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    font-size: 16px;
    color: #3b3736;
    font-family: 'Playfair Display', serif;
    width: 150px;
    height: 70px;
    text-align: center;
}
.projects01
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.projects02a
{
    border-bottom-color: #f8d16c;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    font-size: 16px;
    color: #3b3736;
    font-family: 'Playfair Display', serif;
    width: 100px;
    text-align: center;
    height: 70px;
}
.projects01a
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.number
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.number > *
{
    text-align: right;
    width: 280px;
    padding-left: 10px;
}
.con
{
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.content01
{
    font-family: 'Playfair Display', serif;
    font-weight: lighter !important;
    margin-top: 15px;
    text-decoration: black;
    font-size: 23.5px;
}
.content01a
{
    font-family: 'Playfair Display', serif;
    font-weight: lighter !important;
    margin-top: 15px;
    text-decoration: black;
    font-size: 23.5px;
}
.number1
{
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    margin-top: -30px;
    margin-left: 30px;
    position: absolute;
    color: rgb(248,209,108,0.45);
    user-select: none;
    height: 20%;
}
.number2
{
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    margin-top: -30px;
    margin-left: 30px;
    position: absolute;
    color: rgb(248,209,108,0.45);
    user-select: none;
    height: 20%;
}
.number3
{
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    margin-top: -30px;
    margin-left: 30px;
    position: absolute;
    color: rgb(248,209,108,0.45);
    user-select: none;
    height: 20%;
}
.number4
{
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    margin-top: -30px;
    margin-left: 30px;
    position: absolute;
    color: rgb(248,209,108,0.45);
    user-select: none;
    height: 20%;
}
.content02
{
    font-family: 'Lato', sans-serif;
    font-weight: lighter !important;
    color: #737373;
    font-size: 14px;
    padding-left: 60px;
}
.content02a
{
    font-family: 'Lato', sans-serif;
    font-weight: lighter !important;
    color: #737373;
    font-size: 14px;
    padding-left: 60px;
}
.viewmore
{
    padding-top: 8px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    height: 35px;
    width: 120px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-size: 22px;
    margin-top: 20px;
    letter-spacing: 0.7px;
}
.viewmore:hover
{
    background-color: #f8d16c;
    transition-delay: 0.1s;
}
.view
{
    margin-top: 12px;
    margin-bottom: 12px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.view01
{
    padding-top: 10px;
    height: 65px;
    background-color: #ebebeb;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.viewmore01
{
    padding-top: 8px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    height: 35px;
    width: 80px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
}
.read
{
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: 22px;
    letter-spacing: 0.7px;
}
.viewmore01:hover
{
    background-color: #f8d16c;
    transition-delay: 0.1s;
}
.blog
{
    background-color: #ebebeb;
    width: 100%;
}
.blogcontent
{
    width: 1127px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.blogimage
{
    margin-top: 40px;
    width: 480px;
}
.blogtext 
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 80px;
    width: 400px;
    padding-left: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.aboutus
{
    margin-bottom: 0px;
    width: 100%;
    background-color: #293b52; 
}
.address
{
    width: 1127px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.contactus
{
    width: 50%;
    line-height: 1.5;
    padding-left: 10px;
}
.about
{
    margin-block-start: 10px;
    padding-left: 30px;
    width: 50%;
    margin-top: 5px;
    line-height: 1.5;
}
.heading
{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    margin-top: 50px;
    font-size: 23px;
    color: white;
}
.heading1
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13.6px;
    color: white;
}
.read
{
    text-decoration: none;
    color: black;
    border-color: transparent;
}
.foot
{
    width: 100%;
    background-color: #263146;
}
.footer 
{
    color: white;
    height: auto;
    font-size: 13.5px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 1127px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 1250px)
{
    .computer
    {
        width: 350px;
        margin-top: 50px;
    }
    .number
    {
        height: auto;
        margin-right: 20px;
    }
    .number>div
    {
        width: 40%;
        height: 200px;
    }
    .number1
    {
        position: absolute;
        top: 1100px;
        left: 12%;
    }
    .number2
    {
        position: absolute;
        top: 1100px;
        left: 52%;
    }
    .number3
    {
        position: absolute;
        top: 1320px;
        left: 12%;
    }
    .number4
    {
        position: absolute;
        top: 1320px;
        left: 52%;
    }
    .imglogo
    {
        padding-left: 8%;
    }
    .bigcontent
    {
        margin-left: 10%;
        font-size: 55px;
        width: 300px;
    }
    .big01content
    {
        margin-left: 10%;
        font-size: 55px;
        width: 230px;
    }
    .smallcontent
    {
        margin-left: 10%;
        font-size: 18px;
    }
    .topcol
    {
        width: 900px;
    }
    .item
    {
        width: 900px;
    }
    .blogcontent
    {
        width: 900px;
    }
    .address
    {
        width: 900px;
    }
    .footer
    {
        width: 900px;
    }
}
@media only screen and (max-width: 980px)
{
    .topcol
    {
        width: 560px;
    }
    .item
    {
        width: 560px;
    }
    .blogcontent
    {
        width: 560px;
    }
    .address
    {
        width: 560px;
    }
    .footer
    {
        width: 560px;
    }
    .computer
    {
        margin-left: 7%;
    }
    .leftcol
    {
        width: 55%;
    }
    .imglogo
    {
        padding-left: 1%;
    }
    .bigcontent
    {
        font-size: 70px;
        width: 380px;
        margin-left: 2%;
    }
    .big01content
    {
        font-size: 70px;
        width: 300px;
        margin-left: 2%;
    }
    .smallcontent
    {
        font-size: 18px;
        margin-left: 2%;
    }
    .redbox
    {
        display: none;
    }
    .bluebox
    {
        width: 100%;
    }
    .number
    {
        height: auto;
        padding-right: 30px;
    }
    .number>div
    {
        width: 100%;
        height: 250px;
    }
    .number1
    {
        position: absolute;
        top: 1060px;
        left: 9%;
    }
    .number2
    {
        position: absolute;
        top: 1310px;
        left: 10%;
    }
    .number3
    {
        position: absolute;
        top: 1550px;
        left: 10%;
    }
    .number4
    {
        position: absolute;
        top: 1810px;
        left: 10%;
    }
    .topbar
    {
        background-image: linear-gradient(to right, #293b52, #293b52 100%);
    }
    .colorbox
    {
        background-image: linear-gradient(to right, #293b52, #293b52 100%);
    }
    .link
    {
        color: #f8d16c;
    }
    .leftcol
    {
        width: 50%;
    }
    .imglogo
    {
        padding-left: 10%;
    }
    .bigcontent
    {
        margin-left: 10%;
    }
    .big01content
    {
        margin-left: 10%;
    }
    .smallcontent
    {
        margin-left: 10%;
    }
    .blogcontent
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogtext
    {
        padding-left: 15%;
    }
    .address
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .blogimage
    {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 80px;
        text-align: center;
    }
    .blogtext
    {
        margin-right: 12%;
        margin-top: 100px;
    }
    .about
    {
        width: 90%;
        margin-left: 1%;
    }
    .contactus
    {
        margin-left: 3.3%;
    }
    .footer
    {
        padding-left: 3.4%;
    }
    .image01
    {
        width: 320px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width : 600px)
{
    .topcol
    {
        padding-top: 5px;
        width: 400px;
    }
    .item
    {
        width: 400px;
    }
    .blogcontent
    {
        width: 400px;
    }
    .address
    {
        width: 400px;
    }
    .footer
    {
        width: 400px;
    }
    .number1
    {
        position: absolute;
        top: 1040px;
        left: 9%;
    }
    .number2
    {
        position: absolute;
        top: 1280px;
        left: 10%;
    }
    .number3
    {
        position: absolute;
        top: 1530px;
        left: 10%;
    }
    .number4
    {
        position: absolute;
        top: 1790px;
        left: 10%;
    }
    .rightcol
    {
        display: none;
    }
    .hamburger
    {
        margin-left: 70%;
        margin-block-start: 10px;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 20px;
        text-align: right;
    }
    .line
    {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        height: 5px;
        width: 35px;
        background-color: #f8d16c;
        border-radius: 5px;
    }
    .imglogo
    {
        padding-left: 20%;
    }
    .about
    {
        padding-left: 5%;
    }
    .contactus
    {
        padding-left: 15px;
        width: auto;
    }
    .bigcontent
    {
        font-size: 75px;
        margin-left: 5%;
        width: 410px;
    }
    .big01content
    {
        font-size: 75px;
        margin-left: 5%;
        width: 320px;
    }
    .smallcontent
    {
        font-size: 20px;
        margin-left: 5%;
        width: 80%;
    }
    .blogimage
    {
        width: auto;
    }
    .image01
    {
        width: 290px;
    }
}
@media only screen and (max-width : 500px)
{
    .imglogo
    {
        padding-left: 10px;
    }
    .topcol
    {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    .item
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .blogcontent
    {
        width: 80%;
    }
    .address
    {
        width: 80%;
    }
    .footer
    {
        width: 80%;
    }
    .bigcontent
    {
        font-size: 65px;
        margin-top: 80px;
        width: 370px;
        height: 75px;
    }
    .big01content
    {
        font-size: 65px;
        width: 270px;
        height: 75px;
    }
    .bluebox
    {
        margin-top: 5px;
    }
    .smallcontent
    {
        font-size: 20px;
        margin-left: 5%;
        width: 80%;
    }
    .image01
    {
        width: 220px;
    }
    .hamburger
    {
        margin-left: auto;
        width: auto;
    }
    .number>div
    {
        height: 160px;
    }
    .number1
    {
        font-size: 150px;
        top: 1000px;
    }
    .number2
    {
        font-size: 150px;
        top: 1170px;
    }
    .number3
    {
        font-size: 150px;
        top: 1330px;
    }
    .number4
    {
        font-size: 150px;        
        top: 1500px;
    }
    .projects02
    {
        font-size: 15px;
        width: 120px;
        padding-left: 5%;
    }
    .content01a
    {
        font-size: 18px;
    }
    .content01
    {
        font-size: 18px;
    }
    .content02
    {
        font-size: 10px;
    }
    .content02a
    {
        font-size: 10px;
    }
    .viewmore
    {
        font-size: 20px;
        height: 28px;
        width: 100px;
        padding-top: 5px;
    }
    .projects02a
    {
        font-size: 15px;
        width: 75px;
        padding-left: 18px;
    }
    .viewmore01
    {
        padding-top: 7px;
        height: 35px;
        width: 60px;
    }
    .read
    {
        font-size: 20px;
    }
    .projects02a
    {
        height: 60px;
    }
    .blogtext
    {
        font-size: 15px;
    }
    .heading
    {
        font-size: 20px;
    }
    .heading1
    {
        font-size: 12px;
    }
    .footer
    {
        font-size: 13px;
    }
    .blogtext
    {
        width: 330px;
        font-size: 12px;
    }
}
@media only screen and (max-width : 445px)
{
    .bigcontent
    {
        font-size: 55px;
        width: 300px;
    }
    .big01content
    {
        font-size: 55px;
        width: 230px;
    }
    .smallcontent
    {
        font-size: 18px;
    }
}
@media only screen and (max-width : 380px)
{
    .topbar
    {
        height: 7vh;
    }
    .topcol
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 0px;
    }
    .item
    {
        width: 300px;
    }
    .blogcontent
    {
        width: 300px;
    }
    .blogtext
    {
        width: 80%;
    }
    .address
    {
        width: 300px;
    }
    .footer
    {
        width: 300px;
    }
    .number
    {
        margin-right: 20px;
    }
    .colorbox
    {
        height: 93vh;
    }
    .bigcontent
    {
        font-size: 45px;
        height: auto;
        width: 250px;
    }
    .big01content
    {
        font-size: 45px;
        height: auto;
        width: 200px;   
    }
    .smallcontent
    {
        font-size: 15px;
        height: auto;    
    }
    .number1
    {
        font-size: 150px;
        top: 1020px;
    }
    .number2
    {
        font-size: 150px;
        top: 1180px;
    }
    .number3
    {
        font-size: 150px;
        top: 1340px;
    }
    .number4
    {
        font-size: 150px;        
        top: 1520px;
    }
    .hamburger
    {
        margin-left: 55%;
    }
    .image01
    {
        width: 65%;
    }    
}
@media only screen and (max-width : 350px)
{
    .topcol
    {
        width: 80%;
    }
    .item
    {
        width: 80%;
        margin-left: 10px;
    }
    .blogcontent
    {
        width: 80%;
    }
    .address
    {
        width: 80%;
    }
    .footer
    {
        width: 80%;
    }
    .bigcontent
    {
        font-size: 35px;
        width: 200px;
    }
    .big01content
    {
        font-size: 35px;
        width: 160px;
    }
}
@media only screen and (max-width : 280px)
{
    .hamburger
    {
        margin-left: 45%;
    }
}