body
{
    margin: 0;
}
html 
{
    width: 100%;
}
.topbar
{
    background-image: linear-gradient(to right, #293b52, #293b52 50%, #f8d16c 50%);
    align-items: center;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: sticky;
    top: 0px;
    cursor: pointer;
    padding-bottom: 10px;
}
.leftcol
{
    margin-top: 12px;
    width: 60%;
    height: 100%;
}
.rightcol
{
    padding-left: auto;
    justify-content: left;
    height: 100%;
    width: 40%;
}
.hamburger
{
    display: none;
}
.line
{
    display: none;
}
.imglogo
{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 14%;
}
.imglogo1
{
 
    justify-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
    padding-left: 100px;
}
.navbar
{
    font-weight: lighter !important;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-top: 30px;
}
.link
{
    color: #263146;
    font-weight: lighter !important;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    background-color: transparent;
}
.colorbox
{
    background-image: linear-gradient(to right, #293b52, #293b52 50%, #f8d16c 50%);
    flex-wrap: wrap;
    margin-right: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    height: 850px;
    width: 100%;
}
.bluebox
{
    flex-wrap: wrap;
    font-stretch: extra-condensed;
    width: 50%;
    margin-top: 10px;
    height: 100%;
}
.redbox
{
    margin: 0;
    width: 50%;
    height: 100%;
}
.bigcontent
{
    width: 490px;
    height: 100px;
    margin-top: 135px;
    margin-left: 17%;
    padding-top: 6px;
    font-size: 85px;
    font-weight: 600;
    color: #f8d16c;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}
.big01content
{
    width: 355px;
    height: 100px;
    margin-left: 17%;
    margin-top: 50px;
    padding-top: 6px;
    font-size: 85px;
    font-weight: 600;
    color: #f8d16c;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}
.smallcontent
{
    margin-top: 55px;
    margin-left: 17%;
    margin-right: 30px;
    font-size: 27px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
}
.main
{
    width: 100%;
    margin-bottom: 0px;
}
.computer
{
    width: 67%;
    height: auto;
    max-width: 100%;
    margin-left: 17%;
    margin-top: 120px;
}
.image01
{
    width: 420px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.projects02
{
    border-bottom-color: #f8d16c;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    font-size: 20px;
    color: #3b3736;
    font-family: 'Playfair Display', serif;
    width: 180px;
    padding-left: 30px;
    height: 90px;
}
.projects01
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.projects02a
{
    border-bottom-color: #f8d16c;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    font-size: 22px;
    color: #3b3736;
    font-family: 'Playfair Display', serif;
    width: 110px;
    padding-left: 25px;
    padding-bottom: 5px;
    height: 90px;
}
.projects01a
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.number
{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.number > *
{
    text-align: right;
}
.number>div
{
    width: 20%;
}
.con
{
    padding: 0px;
}
.content01
{
    font-family: 'Playfair Display', serif;
    font-weight: lighter !important;
    margin-top: 15px;
    text-decoration: black;
    font-size: 28px;
}
.content01a
{
    font-family: 'Playfair Display', serif;
    font-weight: lighter !important;
    margin-top: 15px;
    margin-left: 40px;
    text-decoration: black;
    font-size: 28px;
}
.number1
{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    font-size: 250px;
    position: absolute;
    top: 1370px;
    left: 10%;
    color: rgb(248,209,108,0.45);
}
.number2
{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    font-size: 250px;
    position: absolute;
    top: 1370px;
    left: 32%;
    color: rgb(248,209,108,0.45) ;
}
.number3
{
   
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    font-size: 250px;
    position: absolute;
    top: 1370px;
    left: 52%;
    color: rgb(248,209,108,0.45);
}
.number4
{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    font-size: 250px;
    position: absolute;
    top: 1370px;
    left: 75%;
    color: rgb(248,209,108,0.45) ;
}
.content02
{
    font-family: 'Lato', sans-serif;
    font-weight: lighter !important;
    margin-left: 20px;
    color: #737373;
    font-size: 18px;
}
.content02a
{
    font-family: 'Lato', sans-serif;
    font-weight: lighter !important;
    margin-left: 80px;
    color: #737373;
    font-size: 18px;
}
.viewmore
{
    padding-top: 10px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    height: 50px;
    width: 160px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: 32px;
    margin-top: 20px;
}
.viewmore:hover
{
    background-color: #f8d16c;
    transition-delay: 0.1s;
}
.view
{
    margin-top: 12px;
    margin-bottom: 12px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.view01
{
    padding-top: 40px;
    height: 65px;
    background-color: #ebebeb;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.viewmore01
{
    padding-top: 10px;
    width: 50px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    height: 50px;
    width: 100px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
}
.viewmore01:hover
{
    background-color: #f8d16c;
    transition-delay: 0.1s;
}
.blog
{
    background-color: #ebebeb;
    width: 100%;
}
.blogcontent
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.blogimage
{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18%;
    width: 600px;
}
.blogtext 
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 80px;
    margin-right: 130px;
    width: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.read
{
    height: 30px;
    width: 100px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: 32px;
}
.aboutus
{
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #293b52; 
}
.contactus
{
    width: 45%;
    margin-left: 9%;
    line-height: 2;
}
.about
{
    width: 50%;
    margin-top: 5px;
    padding-right: 4.5%;
    padding-left: 3%;
    line-height: 2;
}
.heading
{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter !important;
    margin-top: 50px;
    font-size: 30px;
    color: white;
}
.heading1
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.read
{
    text-decoration: none;
    color: black;
    border-color: transparent;
}
.footer 
{
    color: white;
    height: auto;
    padding-left: 8.8%;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #263146;
}

@media only screen and (max-width: 1150px)
{
    .number
    {
        height: auto;
    }
    .number>div
    {
        width: 40%;
        height: 200px;
    }
    .number1
    {
        position: absolute;
        top: 1350px;
        left: 12%;
    }
    .number2
    {
        position: absolute;
        top: 1350px;
        left: 52%;
    }
    .number3
    {
        position: absolute;
        top: 1590px;
        left: 12%;
    }
    .number4
    {
        position: absolute;
        top: 1590px;
        left: 52%;
    }
    .imglogo
    {
        padding-left: 8%;
    }
    .bigcontent
    {
        margin-left: 10%;
    }
    .big01content
    {
        margin-left: 10%;
    }
    .smallcontent
    {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 1000px)
{
    .computer
    {
        margin-left: 7%;
    }
    .leftcol
    {
        width: 55%;
    }
    .imglogo
    {
        padding-left: 1%;
    }
    .bigcontent
    {
        margin-left: 2%;
    }
    .big01content
    {
        margin-left: 2%;
    }
    .smallcontent
    {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 900px)
{
    .redbox
    {
        display: none;
    }
    .bluebox
    {
        width: 100%;
    }
    .number
    {
        height: auto;
        padding-right: 0px;
    }
    .number>div
    {
        width: 100%;
        height: 250px;
    }
    .number1
    {
        position: absolute;
        top: 1260px;
        left: 9%;
    }
    .number2
    {
        position: absolute;
        top: 1510px;
        left: 10%;
    }
    .number3
    {
        position: absolute;
        top: 1750px;
        left: 10%;
    }
    .number4
    {
        position: absolute;
        top: 2010px;
        left: 10%;
    }
    .topbar
    {
        background-image: linear-gradient(to right, #293b52, #293b52 100%);
    }
    .colorbox
    {
        background-image: linear-gradient(to right, #293b52, #293b52 100%);
    }
    .link
    {
        color: #f8d16c;
    }
    .leftcol
    {
        width: 50%;
    }
    .imglogo
    {
        padding-left: 10%;
    }
    .bigcontent
    {
        margin-left: 10%;
    }
    .big01content
    {
        margin-left: 10%;
    }
    .smallcontent
    {
        margin-left: 10%;
    }
    .blogcontent
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogtext
    {
        padding-left: 15%;
    }
    .aboutus
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .blogimage
    {
        width: 400px;
    }
    .blogtext
    {
        margin-right: 12%;
        margin-top: 20px;
    }
    .about
    {
        width: 90%;
        margin-left: 1%;
    }
    .contactus
    {
        margin-left: 3.3%;
    }
    .footer
    {
        padding-left: 3.2%;
    }
    .image01
    {
        width: 320px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width : 600px)
{
    .number1
    {
        position: absolute;
        top: 1220px;
        left: 9%;
    }
    .number2
    {
        position: absolute;
        top: 1460px;
        left: 10%;
    }
    .number3
    {
        position: absolute;
        top: 1710px;
        left: 10%;
    }
    .number4
    {
        position: absolute;
        top: 1970px;
        left: 10%;
    }
    .rightcol
    {
        display: none;
    }
    .hamburger
    {
        margin-left: 70%;
        margin-block-start: 1px;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 20px;
        text-align: right;
    }
    .line
    {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        height: 5px;
        width: 35px;
        background-color: #f8d16c;
        border-radius: 5px;
    }
    .imglogo
    {
        padding-left: 20%;
    }
    .topbar
    {
        height: 65px;
    }
    .about
    {
        padding-left: 5%;
    }
    .contactus
    {
        padding-left: 15px;
        width: auto;
    }
    .footer
    {
        padding-left: 5%;
        width: auto;
    }
    .bigcontent
    {
        font-size: 75px;
        margin-left: 5%;
        width: 410px;
    }
    .big01content
    {
        font-size: 75px;
        margin-left: 5%;
        width: 320px;
    }
    .smallcontent
    {
        font-size: 25px;
        margin-left: 5%;
        width: 80%;
    }
    .blogimage
    {
        width: auto;
    }
    .image01
    {
        width: 290px;
    }
}
@media only screen and (max-width : 450px)
{
    .bigcontent
    {
        font-size: 55px;
        margin-top: 80px;
        margin-left: 5%;
        width: 310px;
        height: 65px;
    }
    .big01content
    {
        font-size: 55px;
        margin-left: 5%;
        width: 270px;
        height: 65px;
    }
    .colorbox
    {
        height: 600px;
    }
    .bluebox
    {
        margin-top: 5px;
    }
    .smallcontent
    {
        font-size: 15px;
        margin-left: 5%;
        width: 80%;
    }
    .image01
    {
        width: 220px;
    }
    .hamburger
    {
        margin-left: 60%;
    }
    .number>div
    {
        height: 160px;
    }
    .number1
    {
        font-size: 150px;
        top: 950px;
    }
    .number2
    {
        font-size: 150px;
        top: 1120px;
    }
    .number3
    {
        font-size: 150px;
        top: 1280px;
    }
    .number4
    {
        font-size: 150px;        
        top: 1450px;
    }
    .projects02
    {
        font-size: 15px;
        width: 120px;
        padding-left: 5%;
    }
    .content01a
    {
        font-size: 18px;
    }
    .content01
    {
        font-size: 18px;
    }
    .content02
    {
        font-size: 10px;
    }
    .content02a
    {
        font-size: 10px;
    }
    .viewmore
    {
        font-size: 20px;
        height: 28px;
        width: 100px;
        padding-top: 5px;
    }
    .projects02a
    {
        font-size: 15px;
        width: 75px;
        padding-left: 18px;
    }
    .viewmore01
    {
        padding-top: 7px;
        height: 35px;
        width: 60px;
    }
    .read
    {
        font-size: 20px;
    }
    .projects02a
    {
        height: 60px;
    }
    .blogtext
    {
        font-size: 15px;
    }
    .heading
    {
        font-size: 20px;
    }
    .heading1
    {
        font-size: 12px;
    }
    .footer
    {
        font-size: 13px;
    }
}
@media only screen and (max-width : 350px)
{
    .number
    {
        margin-right: 20px;
    }
    .topbar
    {
        height: 45px;
    }
    .colorbox
    {
        height: 500px;
    }
    .bigcontent
    {
        font-size: 35px;
        height: auto;
        width: 200px;
    }
    .big01content
    {
        font-size: 35px;
        height: auto;
        width: 150px;        
    }
    .smallcontent
    {
        font-size: 15px;
        height: auto;    
    }
    .number1
    {
        font-size: 150px;
        top: 830px;
    }
    .number2
    {
        font-size: 150px;
        top: 1000px;
    }
    .number3
    {
        font-size: 150px;
        top: 1160px;
    }
    .number4
    {
        font-size: 150px;        
        top: 1330px;
    }
    .hamburger
    {
        margin-left: 55%;
    }
}