html
{
    width: 100%;
    height: 100%;
}
body
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.topbar
{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 1;
    align-items: center;
    height: 67px;
    width: 100%;
    position: sticky;
    top: 0px;
    cursor: pointer;
    background-color: white;
}
.topcol
{
    height: 73%;
    width: 1160px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.leftcol
{
    padding-top: 3px;
    width: 50%;
    height: 60px;
}
.rightcol
{
    justify-content: end;
    height: 100%;
    width: 50%;
    margin-right: 1vw;
    margin-top: 20px;
}
.imglogo
{
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 11px;
}
.image
{
    width: 32%;
}
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.link
{
    height: 50%;
    color: #263146;
    font-weight: lighter;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    background-color: transparent;
}    
.hamburger
{
    display: none;
}
.line
{
    display: none;
}
.blog
{
    border-bottom-color: black ;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.boxes
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.boxes01
{
    z-index: 0;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 365px;
    height: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 12px;
    border-width: 0.5px;
    border-color: lightgray;
    border-style: solid;
}
.boxes01a
{
    z-index: 0;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 365px;
    height: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 12px;
    border-width: 0.5px;
    border-color: lightgray;
    border-style: solid;
}
.boxes02
{
    z-index: 0;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 365px;
    height: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 12px;
    border-width: 0.5px;
    border-color: lightgray;
    border-style: solid;
}
.hovers:hover
{
    z-index: 0;
    transform: translate(0%,-1.8%);
    transition: transform 0.25s;
}
.bkimage1
{
    height: 70%;
}
.bkimage1a
{
    height: 70%;
}
.bkimage2
{
    height: 70%;
}
.description1
{
    margin-left: 12px;
    margin-right: 10px;
    padding-top: 2px;
    color: black;
    font-size: 16px;    
    height: 40px;
    align-content: center;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-top: 0.6em;
}
.description2
{
    margin-left: 12px;
    margin-right: 10px;
    padding-top: 2px;
    color: black;
    font-size: 16px;    
    height: 55px;
    align-content: center;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-top: 0.6em;
}
.mention
{
    align-content: center;
    padding-left: 13px;
    padding-right: 10px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
}
.mention > *
{
    justify-items: center;
    font-size: 12.5px;
    height: 18px;
    align-items: center;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.M
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30px;
    align-content: center;
    padding-bottom: 40px;
}
.foot
{
    margin-top: auto !important;
    width: 100%;
    background-color: #263146;
}
.footer 
{
    color: white;
    height: auto;
    font-size: 13.5px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 1127px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width:1200px) 
{
    .topcol
    {
        width: 990px;
    }
    .boxes
    {
        flex-wrap: wrap;
        width: 990px;
    }
    .boxes01
    {
        width: 305px;
    }
    .boxes01a
    {
        width: 305px;
    }
    .boxes02
    {
        width: 305px;
    }
    .imglogo
    {
        padding-left: 8%;
    }
    .rightcol
    {
        margin-top: 15px;
    }
    .footer
    {
        width: 990px;
    }
}
@media only screen and (max-width:1000px) 
{
    .topcol
    {
        width: 750px;
    }
    .boxes
    {
        width: 750px;
    }
    .footer
    {
        width: 700px;
    }
    .boxes01
    {
        width: 300px;
    }
    .boxes01a
    {
        width: 300px;
    }
    .boxes02
    {
        width: 300px;
    }
    .imglogo
    {
        padding-left: 5%;
    }
    .imglogo
    {
        padding-left: 14%;
    }
    .rightcol
    {
        padding-right: 6%;
    }
    .boxes01a
    {
        height: 280px;
    }
    .bkimage1a
    {
        height: 68%;
    }
}
@media only screen and (max-width:760px) 
{
    .topcol
    {
        width: 550px;
    }
    .boxes
    {
        width: 550px;
    }
    .footer
    {
        width: 550px;
    }
    .main
    {
        margin-left: auto;
        margin-right: auto;
    }
    .link
    {
        font-size: large;
    }   
    .leftcol
    {
        margin-left: 45px;
        width: auto;
    }
    .rightcol
    {
        padding-right: 0px;
        margin-left: auto;
        margin-right: 40px;
        width: auto;
    }
    .link
    {
        display: block;
    }
    .boxes01
    {
        width: 85%;
    }
    .boxes01a
    {
        width: 85%;
    }
    .boxes02
    {
        width: 85%;
    }
    .boxes
    {
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:600px) 
{
    .topcol
    {
        width: auto;
    }
    .boxes
    {
        width: auto;
    }
    .footer
    {
        width: auto;
        padding-left: 20px;
    }
    .rightcol
    {
        display: none;
    }
    .leftcol
    {
        padding-top: 5px;
        margin-left: 35px;
    }
    .imglogo
    {
        margin-top: 12px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .image
    {
        height: 40px;
    }
    .hamburger
    {
        margin-left: auto;
        margin-right: 20px;
        margin-block-start: 20px;
        display: flex;
        flex-direction: column;
        width: 10%;
        height: 50px;
        text-align: right;
    }
    .line
    {
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        height: 8px;
        width: 35px;
        background-color: black;
        border-radius: 5px;
    }
}
@media only screen and (max-width:460px) 
{
    .lastline
    {
        font-size: 10px;
    }
    .leftcol
    {
        margin-left: 8%;
    }
    .hamburger
    {
        margin-right: 25px;
    }
    .imglogo
    {
        margin-top: 10px;
    }
}
